@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 64px; /* header height */
}

body {
  background: #020617;
  color: #f1f5f9;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
